@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.remote-data-demo {
  position: relative;
}
.remote-data-demo .remote-data-demo-loading {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff cc;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 1;
}
.remote-data-demo .delete-row-column-button {
  cursor: pointer;
  opacity: 0.75;
  display: inline-block;
  vertical-align: middle;
}
.remote-data-demo .delete-row-column-button:hover {
  opacity: 1;
}
